.dropdown {
  width: 100%;
  border-radius: 8px;
  background-color: #ffff;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.06);
  position: relative;
  display: inline-block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
}

.content {
  border-top: 1px solid #e5e8ec;
  display: none;
  overflow-y: scroll;
  max-height: 250px;
}

.open {
  display: block;
  position: absolute;
  background-color: #eeeeee;
  width: 100%;
  border-radius: 8px;
  z-index: 1;
  margin-top: 5px;
}

.error {
  box-shadow: 0 2px 4px rgb(238, 134, 134);
}

.item {
  cursor: pointer;
  padding: 15px 20px;
}

.item:hover {
  background-color: #d7dde8;
}

.disabled {
  pointer-events: none;
  color: #c8caca;
  background-color: #eef2f3;
}
