.card {
  border-radius: 8px;
  background-color: #ffff;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.06);
  padding: 10px;
  text-align: center;
  display: inline;
}

.error {
  color: rgb(216, 129, 129);
}

button {
  background-color: #ece5e5; /* Green */
  border: none;
  color: rgb(117, 115, 115);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}