.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 20%;
}

.column {
  flex: 1;
  margin: 2px;
  padding: 5px;
}

@media screen and (max-width: 980px) {
  .columns {
    padding: 0 10%;
  }
  .column {
    margin-bottom: 5px;
    flex-basis: 40%;
  }
}

@media screen and (max-width: 680px) {
  .columns {
    padding: 0;
  }
  .column {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}
