.card {
  padding: 10px;
  text-align: center;
}

.error {
  color: rgb(216, 129, 129);
}

button {
  background-color: #ece5e5; /* Green */
  border: none;
  color: rgb(117, 115, 115);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}